Django==1.4.3
Pillow==2.2.1
S3ImageResize==0.1.4
South==0.7.6
Werkzeug==0.9.4
argparse==1.2.1
bleach==1.2.1
boto==2.13.3
distribute==0.6.34
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
django-extensions==1.0.3
gunicorn==0.17.2
html5lib==0.95
mock==1.0.1
psycopg2==2.4.6
pyechonest==8.0.1
python-dateutil==1.5
pytz==2012j
requests==1.2.0
unicodecsv==0.9.4
wsgiref==0.1.2
S3ImageResize==0.1.5
