

$cyan: #05c6b4; /* highlighted header text, and, hovered link text */
$steel: #aab0bf; /* normal header text, nav-bar link sub-text, 'Find Courses' - 'OR' - 'Create Course' text, 'Featured Courses' sub-text, and, '35 minutes ago' & 'p2pu.org' link text */
/*NOTE: $steel is also used for: thumbnail footer-badge-holder background, and nav-bar search box background, also for horizontal dividers in footer */
$slate: #515665; /* body text, small headers text, small container text, nav-bar link text, search box search text, thumbnail text, thumbnail image dimensions text, AND, nav-bar search box icon*/
/*also: footer header text and footer body text */
$white: #ffffff; /* nav-bar search placeholder text, 'Find Course' & 'Create Course' button text, thumbnail 'OK' badge text, and, thumbnail footer-badge-holder text */
$apricot: #ff7300; /* highlighted-2 header text */
/*NOTE: $apricot is also used for: 'Find Course' button background */
$clemintine: #ffbc1a; /* navbar-link-h1-right hover */
$pumpkin: #f1b106; /* user dropdown */
$dark-slate: #5b6b73; /* navbar dropdown menu links (and background) and bold text in large wells (e.g. on the bottom of the Find [FKA Learn] Page) */
$link-color-on-white: darken($cyan, 8%);


/* Background Colors */
$olive: #b7d500; /* 'Create Course' button background, and, 'OK' badge background */
$snow: #fcfcfc; /* nav-bar background, small container background, thumbnail background, and, general row-span container background */
$cloud: #f3f4f8; /* body background */
$silver: #cccccc; /* thumbnail image placeholder background */
$fog: #e1e4ed; /* footer background */
$blood-orange: #ff7503; /* delete button */
/*NOTE: $apricot is also used for: 'Find Course' button background */
/*NOTE: $steel is also used for: thumbnail footer-badge-holder background, and nav-bar search box background */


/* Border Colors */
$zinc: #d1d4dd; /* bottom-only border on activity posts and 'P2PU Blog' container box */
$zinc2: #d2d5de; /* bottom-only border on large well (e.g. at the bottom of the Find [FKA Learn] Page) */
$pewter: #8e95a8; /* top-only border on thumbnail footer-badge-holder */
$metal: #d0d3dc; /* bottom-only border on 'Find Course' & 'Create Course' button container */
$pale-olive: #a4b359; /* inner-lower-bottom-only border on 'OK' badges */
$gray-olive: #b4bb92; /* upper-outer-top-only border on 'OK' badges */
$dark-pewter: #8b91a0; /* top-only border on nav-bar search box */
$dark-apricot: #bc5500; /* bottom-only border on 'Find Courses' button */
$dark-olive: #a3be00; /* bottom-only border on 'Create Course' button */
$dark-fog: #c7cbd7; /* bottom only border on Supporters' image links in footer */
$darker-slate: #343741; /* bottom only border on slate button */
$oranitang: #f2b202; /* verticle divider in nav bar user logged-in dropdown menu */
$dark-clemintine: #d29502; /* bottom border only on clemintine buttons and task list progress bar */

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            darken($slate, 9%);
$grayDark:              $slate;
$gray:                  lighten($slate, 9%);
$grayLight:             lighten($slate, 30%);
$grayLighter:           $cloud;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  $olive;
$blueDark:              $dark-olive;
$green:                 $cyan;
$red:                   $pumpkin;
$yellow:                $apricot;
$orange:                $clemintine;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        $cloud;
$textColor:             $slate;

// Links
// -------------------------
$linkColor:             $cyan;
$linkColorHover:        $clemintine;

// Typography
// -------------------------
$baseFontFamily:        "arvo", Helvetica, sans-serif;
$baseLineHeight:        22px;
$altFontFamily:         "sense", Helvetica, sans-serif;
$headingsFontWeight:    inherit;
$headingsColor:         $slate;

// Buttons
// -------------------------
$btnBackground:                     $white !default;
$btnBackgroundHighlight:            darken($white, 10%) !default;
$btnBorder:                         #bbb !default;

$btnPrimaryBackground:              lighten($cyan, 5%) !default;
$btnPrimaryBackgroundHighlight:     darken($cyan, 5%) !default;

$btnInfoBackground:                 #5bc0de !default;
$btnInfoBackgroundHighlight:        #2f96b4 !default;

$btnSuccessBackground:              $blue !default;
$btnSuccessBackgroundHighlight:     $blueDark !default;

$btnWarningBackground:              $pumpkin !default;
$btnWarningBackgroundHighlight:     $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

// Hr border color
// -------------------------
$hrBorder:              $steel;

// Wells
// -------------------------
$wellBackground:                  $white !default;

// Navbar NOT DONE YET
// -------------------------
$navbarCollapseWidth:             979px !default;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px !default;
$navbarBackgroundHighlight:       #ffffff !default;
$navbarBackground:                darken($navbarBackgroundHighlight, 5%) !default;
$navbarBorder:                    darken($navbarBackground, 12%) !default;

$navbarText:                      #777 !default;
$navbarLinkColor:                 #777 !default;
$navbarLinkColorHover:            $grayDark !default;
$navbarLinkColorActive:           $gray !default;
$navbarLinkBackgroundHover:       transparent !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;

$navbarBrandColor:                $navbarLinkColor !default;

// Form states and alerts
// -------------------------
$warningText:             $slate !default;
$warningBackground:       $clemintine !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             $slate !default;
$successBackground:       $olive !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                $white !default;
$infoBackground:          $cyan !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;




