/* line 5, ../sass/custom.scss */
.navbar .brand {
  float: right;
}

/* line 9, ../sass/custom.scss */
.nyu-logo {
  float: right;
  background: url("/static/img/nyusteinhardtlogo.png");
  width: 194px;
  height: 24px;
  margin: 18px 10px 17px;
}

/* line 17, ../sass/custom.scss */
.jumbotron {
  background-image: url("/static/img/banner.jpg");
  background-size: cover;
  background-position: 0% 0%;
  height: 334px;
  margin-bottom: -60px;
  font-size: 21px;
  line-height: 1.3em;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5), 0 0 32px rgba(0, 0, 0, 0.25), 0 1px rgba(0, 0, 0, 0.75);
  position: relative;
  text-align: center;
  position: relative;
}
/* line 29, ../sass/custom.scss */
.jumbotron .head-text {
  position: absolute;
  bottom: 45%;
  width: 100%;
}
/* line 34, ../sass/custom.scss */
.jumbotron .pre-title {
  font-size: 1.3em;
  margin: 15px 0;
  color: #FFF;
}
/* line 40, ../sass/custom.scss */
.jumbotron .title {
  color: #FFF;
}

/* line 45, ../sass/custom.scss */
.subhead {
  height: inherit;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: left;
}

/* line 52, ../sass/custom.scss */
.description {
  margin: 0 0 10px 0;
  padding: 30px;
  background-color: #FFF;
  position: relative;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
/* line 61, ../sass/custom.scss */
.description ul {
  margin-left: -30px;
}
/* line 64, ../sass/custom.scss */
.description li {
  float: left;
  margin-left: 20px;
  width: 300px;
  margin: 30px 0 20px 5%;
}
/* line 69, ../sass/custom.scss */
.description li h2.pull-left i {
  margin: 11px 15px 0 0;
}
/* line 73, ../sass/custom.scss */
.description li .description-text h2 {
  min-height: 95px;
}

/* line 80, ../sass/custom.scss */
#step2, #step3 {
  margin-top: 30px;
}

/* line 84, ../sass/custom.scss */
#emailForm {
  margin-bottom: 50px;
}

/* line 87, ../sass/custom.scss */
.full-width {
  width: 99%;
}

/* Progress Bar */
/* line 94, ../sass/custom.scss */
.progress-step .step-full, .progress-step .step-empty {
  height: 30px;
  width: 30px;
  background-color: #0e90d2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
  left: 0%;
  margin-top: -6px;
  margin-left: -14px;
  font-size: 12pt;
  color: white;
  text-shadow: 0px 0px 3px #222;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}
/* line 112, ../sass/custom.scss */
.progress-step .step-empty {
  background-color: #51A351;
}

/* line 118, ../sass/custom.scss */
.progress-step-square .step-full,
.progress-step-square .step-empty {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 123, ../sass/custom.scss */
.progress.progress-step {
  margin: 14px 17px 14px 14px;
  position: relative;
  overflow: visible;
}

/* Form */
/* line 131, ../sass/custom.scss */
#step2 .help-block {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #999;
}

/* line 138, ../sass/custom.scss */
#step2 select {
  margin-top: 5px;
}

/* line 143, ../sass/custom.scss */
#infoForm .control-group.error .controls label {
  color: #333;
}

/* Success page */
/* line 148, ../sass/custom.scss */
#step3 i {
  font-size: 130px;
}

/* line 151, ../sass/custom.scss */
#step3 {
  text-align: center;
}

/* line 155, ../sass/custom.scss */
.about p, .faq p {
  font-size: 18px;
  text-align: justify;
  line-height: 26px;
  padding-top: 0.7em;
}

/* line 162, ../sass/custom.scss */
.faq h2 {
  padding-top: 1em;
}

/* line 167, ../sass/custom.scss */
input[type="email"] {
  margin-bottom: 0;
}

/* line 172, ../sass/custom.scss */
.input-append,
.input-prepend {
  font-size: 12px;
}
/* line 176, ../sass/custom.scss */
.input-append .add-on,
.input-append .btn,
.input-append .btn-group,
.input-prepend .add-on,
.input-prepend .btn,
.input-prepend .btn-group {
  margin-right: -6px;
}
/* line 180, ../sass/custom.scss */
.input-append .alert,
.input-prepend .alert {
  margin-left: 10px;
}

/* line 185, ../sass/custom.scss */
.class-gallery {
  margin-top: 1.5em;
}

/* line 189, ../sass/custom.scss */
.profile-wrapper {
  float: left;
  list-style: none;
  width: 120px;
  height: 120px;
}

/* line 196, ../sass/custom.scss */
.profile {
  width: 120px;
  height: 120px;
  position: relative;
}

/* line 202, ../sass/custom.scss */
.profile-image {
  max-height: 120px;
  max-width: 120px;
  display: block;
  margin: 0 auto;
}

/* line 209, ../sass/custom.scss */
.bubble:before {
  border-color: #2e88c4 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 0 20px 20px 20px;
  top: -20px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
  width: 0;
  z-index: 999;
}

/* line 222, ../sass/custom.scss */
.bubble {
  background: linear-gradient(#2e88c4, #075698) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  color: #FFFFFF;
  margin: 1em 0 3em;
  padding: 15px;
  position: absolute;
  width: 200px;
  z-index: 999;
  text-align: center;
}

/* line 234, ../sass/custom.scss */
.conference {
  text-align: center;
}
/* line 236, ../sass/custom.scss */
.conference img {
  width: 200px;
  margin: 20px;
}

/* line 242, ../sass/custom.scss */
.digit {
  background: linear-gradient(#2e88c4, #075698);
  font-size: xx-large;
  border-radius: 8px;
  padding: 0px 10px;
  color: #FFF;
}

/* line 250, ../sass/custom.scss */
.social {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* line 255, ../sass/custom.scss */
.social li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
}

/* line 262, ../sass/custom.scss */
ul.tagit input[type="text"] {
  box-shadow: none;
}

@media (max-width: 996px) {
  /* line 268, ../sass/custom.scss */
  body {
    padding: 0;
  }

  /* line 271, ../sass/custom.scss */
  .github-fork img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 979px) and (max-width: 1200px) {
  /* line 277, ../sass/custom.scss */
  .description li {
    width: 290px;
    margin: 30px 0 15px 20px;
  }
}
