{% extends 'base.html' %}

{% block body %}
    <div class="jumbotron subhead">
        <div class="container">
            <h2 class="title"></h2>
        </div>
    </div>
    <div class="container">
      <h3>Find your group</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <p><input name="email" type="email" placeholder="you@example.com"/></p>
        <p><button type="submit">Find my group</button></p>
      </form>
      {% if group %}
        <p>Drop a note to this ({{group.address}}) address - it will go to everyone in your group. Say "Hi" and get to know each other.</p>
      {% endif %}
      {% if problem %}
        <p class="alert-error">Sorry, we couldn't find your signup. Did you sign up with a different email address?</p>
      {% endif %}
    <div>
{% endblock %}

{% block js %}
{% endblock %}
