<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to "Play With Your Music"!</title>
</head>
<body style="margin: 0; font-family: sense, helvetica, sans-serif;">

<p>Welcome to "Play With Your Music"--we'll get underway in earnest around January 15. That's when you'll receive an email from the course Maestro, "Mister Mix" with some stellar activities to get you making music.</p>

<p>With that first email, you'll be placed in your musical cohort--30 to 40 folks that you'll be sharing your tunes with. Don't be shy--you can go ahead and introduce yourself by hitting "reply."</p> 

<p>In the meantime, you might want to register for an account with <a href="http://soundation.com/">Soundation</a> and <a href="https://soundcloud.com/">SoundCloud</a>. If you have any #PWYM-related questions, you can post them to our <a href="http://bit.ly/1aiSsfw">Google+ community</a> </p>

<p>Now you're vaguely rockin'...</p>

<p>-The #PWYM Team</p>

<p>To unsubscribe follow <a href="%unsubscribe_url%">This link</a></p>


</body>
</html>
