<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to "Play With Your Music"!</title>
</head>
<body style="margin: 0; font-family: sense, helvetica, sans-serif;">

<p>Welcome to "Play With Your Music"--we'll get underway in earnest on May 16. That's when you'll receive an email from the community maestro, "Mister Mix" with some stellar activities to get you making music.</p>

<p>In the meantime, you might want to register for an account with <a href="http://soundation.com/">Soundation</a> and <a href="https://soundcloud.com/">SoundCloud</a>. If you have any #PWYM-related questions, you can post them to our new <a href="http://community.playwithyourmusic.org">PWYM Community</a> </p>

<p>Now you've hit the Big Time...</p>

<p>-The #PWYM Team</p>

<p>To unsubscribe follow <a href="%unsubscribe_url%">This link</a></p>


</body>
</html>

