{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <h1>About</h1>
      <div class="row">
        <div class="span12 faq">


         <p>"Play With Your Music" is a free, online music community where you can find like minded people with whom to create and collaborate, learn to make songs of your very own, and even more using the newest tools on the web. You'll learn the in's and out's of audio production, while working with music you already know and love. Anyone with an interest in making music is welcome, and all you need is a computer and a browser.</p>

         <p>"Play With Your Music" (or #PWYM) is a nifty collaboration between faculty in <a href="http://steinhardt.nyu.edu/music/">NYU 
         Steinhardt's Department of Music and Performing Arts Professions</a>, <a href="https://p2pu.org">Peer 2 Peer 
         University</a> and the <a href="http://media.mit.edu/">MIT Media Lab</a>. 
         Professor <a href="http://www.alexruthmann.com/blog1/">Alex Ruthmann</a> and Research Associate 
         <a href="http://www.ethanhein.com/wp/">Ethan Hein</a> offer their expertise and musical chops, all brought to you with the social learning design team at P2PU.</p>

          <br>

          <h1>How It works.</h1>
          <h2>The PWYM Community</h2>
          <p>When you join the <a href="http://community.playwithyourmusic.org">PWYM Community</a>, 
          you'll have access to courses and creative music making modules that focus on critical listening, 
          recording analysis, audio FX, mixing, and remixing. You'll also be able to find and create groups of 
          creative and curious musicians just like you, with whom you'll learn and collaborate on course projects.</p>
         
          <h2>Music making and learning experiences.</h2>
          <p>For each module in a course, you'll receive a series of readings, videos and an activity prompting you 
          to <i>play</i> with music on the web. You'll work through the materials at your own pace, and share your 
          projects with the PWYM community when your finished, and share and receive feedback on your and your peers' 
          creative projects.</p>
         
          <h2>Support if you're lost, stuck or curious.</h2>
          <p>Play With Your Music also has an embedded <a href="http://community.playwithyourmusic.org">community</a> of 
          like minded musicians and learners for you to ask questions, find additional resources, or connect with other 
          folks outside your areas of musical interest and expertise.</p>
          
          <h2>Playing with your music</h2>
          <p>We've designed the PWYM courses and community in the spirit of <i>musical play</i>. Building on research and 
          tools developed at the MIT Media Lab and NYU's Music Experience Design Lab, we've designed this community to 
          support creative and collaborative music making, learning, and sharing. We continue to curate multitrack 
          content from musical artists, develop creative tools for playing directly with the recordings you love, and 
          interview leading musicians - performers, engineers, producers, and composers - all granting <b>YOU</b> 
          permission to play and experiment with their music.</p>
<br>
        <h1>The Music You'll Work With.</h1>
        <h2>Peter Gabriel</h2>
        <p>For this version of PWYM (2.0!), we've partnered with dual Rock and Roll Hall of Fame inductee and legend 
        Peter Gabriel. Peter has graciously collaborated with us providing access to multitrack recordings of his hit 
        songs <em>Sledgehammer</em> and <em>In Your Eyes</em> from the album <b>So</b>. You'll learn from video 
        interviews with Peter and with the musicians who've performed and collaborated with him over the years.</p>
        
        <h2>Clara Berry and Wooldog</h2>
        <p>In PWYM 1.0, we partnered with singer/songwriter <a href="http://claraberry.com/">Clara Berry</a> and her 
        producer/engineer <a href="http://bradfordswanson.com/?">Bradford Swanson</a> to give you an inside look at 
        their recording production process. In addition to the amazing recordings of Peter Gabriel, you can work 
        directly with her multitracks, samples, and loops in our 
        custom <a href="http://www.nyu.edu/projects/ruthmann/PWYM/airtraffic">#PWYM Mix tool</a> and in 
        <a href="http://soundation.com/air_traffic">Soundation.com</a>.</p>
<br>
        
        <h1>The Tools You'll Master.</h1>
        
        <p>You'll become familiar with a number of critical listening, recording and mixing tools over six weeks. 
        All of these tools are free to use when you sign up for the PWYM community. A sneak preview of what's to come:</p>
        
        <h2>Google templates for musical analysis</h2>
        <p>In the first phase of the course, you'll become familiar with the basic <i>critical listening</i> and 
        <i>recording analysis</i> skills of music--identifying instruments, voices, placement of sound in space, 
        and song structures by ear from recordings. We start you off with identifying and describing the sounds you 
        hear in a recording and locating those sounds in space with a <a href="https://drive.google.com/previewtemplate?id=1eoxDQyI8b5spi7rDb_zh5xoHAFt7pawO7Xry7zUHGSw&mode=public">Google Charts template</a>. After that, we 
        guide you in mapping the structure of songs, labeling sections and timings, identifying when instruments come 
        in and come out of a mix, helping you hear, see and understand the hidden architectures within your favorite 
        musical recordings using a <a href="https://drive.google.com/previewtemplate?id=0Al93L9k1G7ICdFNUWUZJRUZOWHJfb2lwTHVQUGZIR0E&mode=public">Google Spreadsheets template</a>.</p>
        
        <h2><a href="http://www.nyu.edu/projects/ruthmann/PWYM/airtraffic">#PWYM Mix</a></h2>
        <p>In the first phase of the course, you'll become familiar with the basic "critical listening" skills of music--identifying instruments, voices and song structures. And you'll do it by playing with interactive multitrack recordings.</p>

        <img src="http://community.playwithyourmusic.org/uploads/default/22/892db86e2d65d1b3.png" width="690" height="468">

        <h2><a href="http://soundation.com/">Soundation</a></h2>
        <p>Next you'll get your hands dirty by working with a Digital Audio Workstation (DAW) and learn the basics of audio track editing and shifting. Using Soundation you'll mix your own audio track to match a studio recording.</p>

        <img src="http://community.playwithyourmusic.org/uploads/default/23/56a9de7f3f740b27.png" width="619" height="499">

        <h2><a href="https://soundcloud.com/">SoundCloud</a></h2>
        <p>Soon, you'll be remixing your favorite songs and coming up with your own glorious creations. You'll post the files to SoundCloud's listening community, share them with your cohort, and give each other feedback.</p>

        <img src="http://community.playwithyourmusic.org/uploads/default/21/2e4f0d36fcd7f1a5.png" width="690" height="452">

        <h1>Sign Up Now!</h1>
        <p>Participation in the PWYM Community is ongoing. <a href="{% url home %}">Sign up now</a> for our next course working with the music of Peter Gabriel starting May 16th!</p>
          
        </div>
      </div>

    </div>

{% endblock %}
