{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <h1>About</h1>
      <div class="row">
        <div class="span12 faq">


         <p>"Play With Your Music" is a free, 6-week online course where you'll make 3-5 songs of your very own, using the newest tools on the web. You'll learn the in's and out's of audio production, while working with music you already know and love. Anyone with an interest in making music is welcome, and all you need is a computer and a browser.</p>

         <p>"Play With Your Music" (or #PWYM) is a nifty collabortation between faculty in <a href="http://steinhardt.nyu.edu/">NYU Steinhardt</a>'s <a href="http://steinhardt.nyu.edu/music/">Department of Music and Performing Arts Professions</a>, <a href="https://p2pu.org">Peer 2 Peer University</a> and the <a href="http://media.mit.edu/">MIT Media Lab</a>. Professor <a href="http://www.alexruthmann.com/blog1/">Alex Ruthmann</a> and Research Assistant <a href="http://www.ethanhein.com/wp/">Ethan Hein</a> offer their expertise and musical chops, all brought to you with the social learning design team at P2PU.</p>

         <p>The Mechanical MOOC is a super-simple platform made by the crew over at P2PU. It splits learners into smaller cohorts and connects them via email. So you'll participate in the course in your small cohort via your inbox, and the larger <a href="https://plus.google.com/communities/111652425357803311063">Google+ community</a>.</p>
          <br>

          <h1>How It works.</h1>
          <h2>Email lists.</h2>
          <p>On November 1, you'll receive an email from the "Mister Mix"--the Maestro of this Mechanical MOOC. When that email lands in your inbox, it means you've been placed in your cohort of 30-40 folks, and you can say "Hi" to all the folks on your team by clicking "reply."</p>
         
          <h2>Weekly assignments.</h2>
          <p>Each week, you'll receive a series of readings and an activity prompting you to play with music on the web. You'll work through the materials over the course of the week, and share your projects with your cohort.</p>
         
          <h2>Support if you're lost, stuck or curious.</h2>
          <p>Play With Your Music also has a larger <a href="https://plus.google.com/communities/111652425357803311063">Google+ community</a> for you to ask questions, find additional resources, or connect with other folks outside your cohort.</p>
<br>
        <h1>The Music You'll Work With.</h1>
        <h2>Clara Berry and Wooldog</h2>
        <p>We've partnered with singer/songwriter <a href="http://claraberry.com/">Clara Berry</a> and her producer/engineer <a href="http://bradfordswanson.com/?">Bradford Swanson</a> to give you an inside look at the recording production process. You'll have the opportunity to work directly with her multitracks, samples, and loops in our custom #PWYM Mix tool and in Soundation.com.</p>
<br>
        
        <h1>The Tools You'll Master.</h1>
        
        <p>You'll become familiar with a number of critical listening, recording and mixing tools over six weeks. All of these tools are free to use when you sign up for an account. A sneak preview of what's to come:</p>
        <h2><a href="http://datarock.musicdelta.com/">#PWYM Mix</a></h2>
        <p>In the first phase of the course, you'll become familiar with the basic "critical listening" skills of music--identifying instruments, voices and song structures. And you'll do it by playing with interactive multitrack recordings.</p>

        <img src="http://sruthmann.files.wordpress.com/2013/10/screenshot-2013-10-17-12-24-26.png">

        <h2><a href="http://soundation.com/">Soundation</a></h2>
        <p>Next you'll get your hands dirty by working with a Digital Audio Workstation (DAW) and learn the basics of audio track editing and shifting. Using Soundation you'll mix your own audio track to match a studio recording.</p>

        <img src="http://playwithyourmusic.files.wordpress.com/2013/09/screen-shot-2013-09-20-at-10-47-09-am.png">

        <h2><a href="https://soundcloud.com/">SoundCloud</a></h2>
        <p>Soon, you'll be remixing your favorite songs and coming up with your own glorious creations. You'll post the files to SoundCloud's listening community, share them with your cohort, and give each other feedback.</p>

        <img src="http://playwithyourmusic.files.wordpress.com/2013/09/screen-shot-2013-09-20-at-10-54-09-am.png">

        <p>Signup is open now, with the course beginning on November 1st.</p>
          
        </div>
      </div>

    </div>

{% endblock %}
