{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <h1>About</h1>
      <div class="row">
        <div class="span12 about">
          
        <p>Mechanical MOOC is two things:  A massive open online course (MOOC), and an experiment in how to offer these courses.</p>

          <p>First, the course:  We’re offering an eight-week course called A Gentle Introduction to Python.  It is, as it sounds, a course in learning the basics of Python programming.</p>

          <p>Second, the approach: Rather than trying to create a platform that structures the end-to-end learning experience, as recent MOOCs have done, we’re taking the best of existing open learning site—content from MIT OpenCourseWare, communities from OpenStudy, exercises by Codecademy—and joining them loosely with a mailing list that will coordinate student activity.</p>

          <p>Instead of a professor or university organizing the class, our e-mail scheduler will do it--that’s why it’s mechanical.</p>
        </div>
      </div>
    </div>

{% endblock %}
