{% extends 'base.html' %}

{% block body %}

	<div id="step1" class="container">
		<div class="row">
			<div class="span8 offset2 faq">


				<h2>Module One: Critical Listening</h2>

				<p>Choose a song to analyze</p>
				<ul>
					<li>Identify instruments and timbres</li>
					<li>Place sounds in spatial field (left-right, front-back)</li>
					<li>Describe timbral qualities</li>
					<li>Repetition: listen to song in Infinite Jukebox</li>
					<li>Video lecture and Q&A: <i>On Space and Timbre as Creative Dimensions of Music</i></li>
				</ul>

				<h2>Module Two: Recording Analysis</h2>

				<p>Analyze for Musical Structure</p>
				<ul>
					<li>Listen for form along timeline</li>
					<li>Label sections</li>
					<li>Count beats and measures</li>
					<li>Separate musical layers</li>
					<li>Identify when timbres enter and exit within the mix</li>
					<li>Annotate interesting aspects of the recording</li>
					<li>Video lecture and Q&A: <i>On Musical Structure in Songwriting</i></li>
				</ul>

				<h2>Module Three: Deconstructing and Reconstructing a Mix</h2>

				<p>Work with #PWYM Mix tool</p>
				<ul>
					<li>Reconstruct a mix from the stereo recording</li>
					<li>Manipulate balance, pan, mute and solo</li>
					<li>Share convergent mix with your learning ensemble</li>
					<li>Create a creative mix, and share with your learning ensemble</li>
					<li>video lecture and Q&A: <i>On the Multitrack Production Process</i></li>
				</ul>

				<h2>Module Four: Creative Audio Effects in the DAW</h2>

				<p>Add effects to a dry mix in Soundation</p>
				<ul>
					<li>Overview of common audio effects</li>
					<li>Basics of reverb, delay, EQ, & compression</li>
					<li>Dragging and dropping clips</li>
					<li>Copy and paste</li>
					<li>Looping</li>
					<li>Sample-based production, hip-hop and dance music</li>
					<li>Copyright and ownership</li>
					<li>Exporting and sharing your mixes to Soundcloud</li>
					<li>Video lecture and Q&A: <i>On the Musical Uses of Effects in Recorded Music</i></li>
				</ul>

				<h2>Module Five: Remixing with MIDI in the DAW</h2>

				<p>What is MIDI?</p>
				<ul>
					<li>Compare and contrast audio and MIDI</li>
					<li>Compare and contrast music notation and MIDI</li>
					<li>The piano roll: working with MIDI</li>
				</ul>
				<p>Editing MIDI</p>
				<ul>
					<li>Drawing and deleting notes</li>
					<li>Copy and paste within the piano roll</li>
					<li>Copy and paste in the multitrack view</li>
					<li>Remix techniques</li>
					<li>Video lecture and Q&A: <i>On Creative Approaches to Computer and Electronic Music</i></li>
				</ul>

				<h2>Module Six: Remixing it All Together</h2>

				<p>Remixing in the DAW</p>
				<ul>
					<li>Take given multitrack (audio and MIDI) and create a new version</li>
					<li>Share on SoundCloud</li>
					<li>Peer critique</li>
					<li>Iterate and refine the mix, re-upload</li>
					<li>Vote on best mixes</li>
				</ul>

				<p>Bouncing and sharing your mix: audio formats and fidelity</p>
				<ul>
					<li>Mono vs stereo</li>
					<li>Sampling rate and bit depth; the CD red book standard</li>
					<li>Data compression: Why is it necessary? MP3 (128K vs 320K), AAC, streaming</li>
					<li>Video lecture and Q&A: <i>DIY Home Recording Strategies on a Budget/i></li>
				</ul>

				<p>Reflection and documentation</p>
				<ul>
					<li>What went right with your remix?
					<li>What do you want to improve?
					<li>What still doesn’t make sense?
				</ul>

				<p>Where to from here?</p>
				<ul>
					<li>Free software: Audacity, Garageband</li>
					<li>Non-free software: Pro Tools, Logic, Ableton, Reason</li>
					<li>Basics of audio recording: mics, preamps and interfaces</li>
					<li>Learning resources</li>
				</ul>

				<h2>Video Interviews</h2>

				<p> We'll be bringing you video interviews with a series of musicians who've collaborated with Peter
				    Gabriel over
				    his long career as a musician. In these interviews, we'll solicit and ask questions submitted by
				    you, and learn more about the
				    creative decision making and collaborative processes behind Peter Gabriel's music.</p>

				<p>For each module of the course, we've invited faculty and staff from the NYU Steinhardt Department of
				   Music and
				   Performing Arts Professions, as well as other luminaries in the field of music production and audio
				   education for
				   video interviews to supplement the learning materials in Play With Your Music.</p>

				<h2>MODULE 1</h2>

				<p>Alex Case - On Space and Timbre as Creative Dimensions of Music</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/alex_case.jpg" class="pull-left">Alex Case has dedicated
				                                                                                 his professional life
				                                                                                 to the study of
				                                                                                 aesthetics, perception,
				                                                                                 signal processing,
				                                                                                 electro-acoustics and
				                                                                                 room acoustics for the
				                                                                                 creation and enjoyment
				                                                                                 of recorded music.An
				                                                                                 Associate Professor of
				                                                                                 Sound Recording
				                                                                                 Technology, Case leads
				                                                                                 classes, sessions and
				                                                                                 research with
				                                                                                 undergraduate and
				                                                                                 graduate students at
				                                                                                 the University of
				                                                                                 Massachusetts Lowell.
				                                                                                 An active member of the
				                                                                                 Audio Engineering
				                                                                                 Society, and a Fellow
				                                                                                 of the Acoustical
				                                                                                 Society of America,
				                                                                                 Case is an engineer,
				                                                                                 educator, and author
				                                                                                 who speaks frequently
				                                                                                 on audio and acoustics
				                                                                                 across the United
				                                                                                 States and worldwide.
				                                                                                 With degrees in
				                                                                                 Mechanical Engineering,
				                                                                                 Music, and Acoustics,
				                                                                                 Professor Case lives
				                                                                                 and works at the
				                                                                                 intersection of art and
				                                                                                 science.</p>

				<h2>MODULE 2</h2>

				<p>Phil Galdston - On Musical Structure in Songwriting</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/phil_galdston.jpg" class="pull-left"> Phil Galdston s a
				                                                                                      songwriter/producer
				                                                                                      whose work has
				                                                                                      appeared on nearly
				                                                                                      70 million records
				                                                                                      worldwide, in
				                                                                                      recordings by
				                                                                                      artists ranging
				                                                                                      from Celine Dion
				                                                                                      to Sheryl Crow,
				                                                                                      from Aaron Neville
				                                                                                      to Beyoncé, from
				                                                                                      Brandy to
				                                                                                      Esperanza
				                                                                                      Spalding. Among
				                                                                                      his many successes
				                                                                                      is Save the Best
				                                                                                      For Last, recorded
				                                                                                      by Vanessa
				                                                                                      Williams, which
				                                                                                      simultaneously
				                                                                                      topped Billboard's
				                                                                                      three major
				                                                                                      charts, was
				                                                                                      nominated for a
				                                                                                      GRAMMY® as Song of
				                                                                                      the Year, and was
				                                                                                      ASCAP's Song of
				                                                                                      the Year. Phil is
				                                                                                      the recipient of
				                                                                                      the Grand Prize of
				                                                                                      the American Song
				                                                                                      Festival, the Time
				                                                                                      For Peace Award,
				                                                                                      two Nashville
				                                                                                      Songwriters'
				                                                                                      Association
				                                                                                      citations, Cable
				                                                                                      ACE and DOVE Award
				                                                                                      nominations, four
				                                                                                      ASCAP awards, and
				                                                                                      five GRAMMY®
				                                                                                      nominations. His
				                                                                                      work has appeared
				                                                                                      on fourteen
				                                                                                      GRAMMY®- nominated
				                                                                                      or winning
				                                                                                      recordings. He
				                                                                                      speaks on
				                                                                                      intellectual
				                                                                                      property rights
				                                                                                      and is an active
				                                                                                      member of both
				                                                                                      ASCAP and The
				                                                                                      Recording Academy.
				                                                                                      He was
				                                                                                      Songwriter-in-Residence
				                                                                                      at the Berklee
				                                                                                      College of Music
				                                                                                      and was appointed
				                                                                                      the first member
				                                                                                      of the Songwriting
				                                                                                      Faculty at
				                                                                                      NYUSteinhardt and
				                                                                                      the first Faculty
				                                                                                      Songwriter-in-Residence
				                                                                                      in NYU’s history.
				                                                                                      He is the curator,
				                                                                                      and moderator of
				                                                                                      the SONGWRITERS
				                                                                                      HALL OF FAME
				                                                                                      MASTER SESSIONS AT
				                                                                                      NYU and
				                                                                                      co-curates/moderates
				                                                                                      the Steinhardt
				                                                                                      School’s FRIDAY@1,
				                                                                                      a weekly series of
				                                                                                      conversations with
				                                                                                      luminaries in
				                                                                                      music.</p>

				<h2>MODULE 3</h2>

				<p>Paul Geluso - On the Multitrack Production Process</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/paul_geluso.jpg" class="pull-left">Paul Geluso’s work
				                                                                                   focuses on the
				                                                                                   theoretical,
				                                                                                   practical and
				                                                                                   artistic aspects of
				                                                                                   sound recording and
				                                                                                   reproduction. He is a
				                                                                                   sound recordist,
				                                                                                   mixer, and engineer
				                                                                                   who collaborates with
				                                                                                   musicians and media
				                                                                                   artists using sound
				                                                                                   as a creative medium.
				                                                                                   He has worked in many
				                                                                                   areas of sound and
				                                                                                   music production
				                                                                                   being credited as
				                                                                                   engineer, producer,
				                                                                                   composer, and
				                                                                                   musician on CD and
				                                                                                   5.1 surround sound
				                                                                                   DVD releases in
				                                                                                   addition to film,
				                                                                                   video, sound
				                                                                                   installation,
				                                                                                   performance and
				                                                                                   broadcast television
				                                                                                   soundtracks since
				                                                                                   1992. He is currently
				                                                                                   developing new ways
				                                                                                   to capture, mix, and
				                                                                                   process 3D audio for
				                                                                                   playback on
				                                                                                   multi-channel sound
				                                                                                   systems. This work
				                                                                                   will be presented at
				                                                                                   the 131st Audio
				                                                                                   Engineering
				                                                                                   convention in New
				                                                                                   York City. Prior to
				                                                                                   being full-time
				                                                                                   faculty at NYU, he
				                                                                                   taught classes in
				                                                                                   music production and
				                                                                                   technology at Bard
				                                                                                   College and the
				                                                                                   Peabody Institute in
				                                                                                   addition to directing
				                                                                                   the Stephen F. Temmer
				                                                                                   Tonmeister Seminar
				                                                                                   here at NYU. Geluso
				                                                                                   received a Bachelor
				                                                                                   of Science in
				                                                                                   Electrical
				                                                                                   Engineering from New
				                                                                                   Jersey Institute of
				                                                                                   Technology in 1988
				                                                                                   and a Master of Music
				                                                                                   in Music Technology
				                                                                                   from New York
				                                                                                   University in 2000.
				</p>

				<h2>MODULE 4</h2>

				<p>Alex Case - On the Musical Uses of Effects in Recorded Music</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/alex_case.jpg" class="pull-left">Alex Case has dedicated
				                                                                                 his professional life
				                                                                                 to the study of
				                                                                                 aesthetics, perception,
				                                                                                 signal processing,
				                                                                                 electro-acoustics and
				                                                                                 room acoustics for the
				                                                                                 creation and enjoyment
				                                                                                 of recorded music.An
				                                                                                 Associate Professor of
				                                                                                 Sound Recording
				                                                                                 Technology, Case leads
				                                                                                 classes, sessions and
				                                                                                 research with
				                                                                                 undergraduate and
				                                                                                 graduate students at
				                                                                                 the University of
				                                                                                 Massachusetts Lowell.
				                                                                                 An active member of the
				                                                                                 Audio Engineering
				                                                                                 Society, and a Fellow
				                                                                                 of the Acoustical
				                                                                                 Society of America,
				                                                                                 Case is an engineer,
				                                                                                 educator, and author
				                                                                                 who speaks frequently
				                                                                                 on audio and acoustics
				                                                                                 across the United
				                                                                                 States and worldwide.
				                                                                                 With degrees in
				                                                                                 Mechanical Engineering,
				                                                                                 Music, and Acoustics,
				                                                                                 Professor Case lives
				                                                                                 and works at the
				                                                                                 intersection of art and
				                                                                                 science.</p>

				<h2>MODULE 5</h2>

				<p>Tae Hong Park - On Creative Approaches to Computer and Electronic Music</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/tae_hong_park.jpg" class="pull-left"> Tae Hong Park is a
				                                                                                      composer, music
				                                                                                      technologist, and
				                                                                                      bassist. His work
				                                                                                      focuses on
				                                                                                      composition of
				                                                                                      electro-acoustic
				                                                                                      and acoustic
				                                                                                      music, machine
				                                                                                      learning and
				                                                                                      computer-aided
				                                                                                      music analysis,
				                                                                                      research in
				                                                                                      multi-dimensional
				                                                                                      aspects of timbre,
				                                                                                      and audio digital
				                                                                                      signal processing.
				                                                                                      Dr. Park has
				                                                                                      presented his
				                                                                                      music at national
				                                                                                      and international
				                                                                                      conferences and
				                                                                                      festivals
				                                                                                      including Bourges,
				                                                                                      ICMC, MATA, SCIMF,
				                                                                                      and SEAMUS. Among
				                                                                                      the ensembles and
				                                                                                      performers that
				                                                                                      have played his
				                                                                                      work are the
				                                                                                      Brentano String
				                                                                                      Quartet,
				                                                                                      California E.A.R.
				                                                                                      Unit, Edward
				                                                                                      Carroll, Ensemble
				                                                                                      Surplus, Zoe
				                                                                                      Martlew, Nash
				                                                                                      Ensemble of
				                                                                                      London, and the
				                                                                                      Tarab Cello
				                                                                                      Ensemble.
				                                                                                      Professor Park is
				                                                                                      author of
				                                                                                      Introduction to
				                                                                                      Digital Signal
				                                                                                      Processing:
				                                                                                      Computer Musically
				                                                                                      Speaking (World
				                                                                                      Scientific, 2010).
				                                                                                      He is the Chief
				                                                                                      Editor of Journal
				                                                                                      SEAMUS, serves as
				                                                                                      Editiorial
				                                                                                      Consultant for
				                                                                                      Computer Music
				                                                                                      Journal, and is
				                                                                                      President of the
				                                                                                      International
				                                                                                      Computer Music
				                                                                                      Association
				                                                                                      (ICMA). He
				                                                                                      received his Ph.D.
				                                                                                      from Princeton
				                                                                                      University.</p>

				<h2>MODULE 6</h2>

				<p>Amar Lal - On DIY Home Recording on a Budget</p>

				<p class="media"><img src="{{ STATIC_URL }}/img/amar_lal.jpg" class="pull-left">Amar Lal is a Master of
				                                                                                Music in Music
				                                                                                Technology candidate in
				                                                                                the Department of Music
				                                                                                and Performing Arts
				                                                                                Professions in the
				                                                                                Steinhardt School of
				                                                                                Culture, Education, and
				                                                                                Human Development at New
				                                                                                York University. He is a
				                                                                                guitarist with the band
				                                                                                Big Ups and co-runs a
				                                                                                Brooklyn-based DIY
				                                                                                record label ECB&B.</p>


			</div>
		</div>
	</div>

{% endblock %}
