{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <div class="row">
        <div class="span12 faq">


  <h2>Module One: Critical listening</h2>

  <p>Choose a song to analyze</p>

  <ul>
    <li>Identify instruments and
    timbres</li>

    <li>Describe spatial environment vs
    stereo image</li>

    <li>Create song timeline:
    significant entrances and exits, song structure</li>

    <li>Repetition: listen to song in
    Infinite Jukebox and Girl Talk In A Box</li>

    <li>Live lecture and Q&amp;A: Ron
    Sadoff on songcraft</li>
  </ul>

  <h2 >Module Two: Mixing in the
  DAW</h2>

  <p >Reverse-engineering a multitrack
  in MusicDelta and Soundation</p>

  <ul >
    <li >Listen to mixed
    track</li>

    <li >Solo each stem</li>

    <li >Mute each stem</li>

    <li >Pan each stem</li>

    <li >Effects: reverb,
    filter.</li>

    <li >Sidebar on Britney Spears and
    guiro</li>

    <li >Convergent mixing
    exercise</li>

    <li >Create your own mix</li>

    <li >Live lecture and Q&amp;A: Paul
    Geluso on production and mixing</li>
  </ul>

  <h2 >Module Three: Editing Audio in
  the DAW</h2>

  <p >Create blank Soundation
  session</p>

  <ul >
    <li >Dragging and dropping
    clips</li>

    <li >Copy and paste</li>

    <li >Looping</li>

    <li >Sample-based production,
    hip-hop and dance music</li>

    <li >Copyright and
    ownership</li>
  </ul>

  <p ></p>

  <h2 >Module Four: MIDI in the
  DAW</h2>

  <p ></p>

  <p >What is MIDI?</p>

  <ul >
    <li >Compare and contrast audio and
    MIDI</li>

    <li >Compare and contrast music
    notation and MIDI</li>

    <li >The piano roll: open and view
    MIDI version of Eine Kleine Nachtmusik</li>

    <li >Listen to Eine Kleine
    Nachtmusik with different synth sounds and samples</li>
  </ul>


  <p >Editing MIDI</p>

  <ul >
    <li >Drawing and deleting
    notes</li>

    <li >Copy and paste within the piano
    roll</li>

    <li >Copy and paste in the
    multitrack view</li>

    <li >Remix Eine Kleine
    Nachtmusik</li>

    <li >Live lecture and Q&amp;A: Tae
    Hong Park on computer music, MIDI and beyond</li>
  </ul>


  <h2 >Module Five:
  Remixing</h2>

  <p >Remixing in the DAW</p>

  <ul >
    <li >Take given multitrack (audio
    and MIDI) and create a new version</li>

    <li >Share on SoundCloud</li>

    <li >Peer critique</li>

    <li >Iterate and refine the mix,
    re-upload</li>

    <li >Vote on best mixes</li>

    <li >Live lecture and Q&amp;A:
    [famous person who provided us the multitrack]</li>
  </ul>

  <h2>Module Six: Putting It All
  Together</h2>

  <p >Bouncing and sharing your mix:
  audio formats and fidelity</p>

  <ul >
    <li >Frequency response and sound
    reproduction; headphones vs speakers</li>

    <li >Mono vs stereo</li>

    <li >Sampling rate and bit depth;
    the CD red book standard</li>

    <li >Data compression: Why is it
    necessary? MP3 (128K vs 320K), AAC, streaming</li>

    <li >Frequency response &amp; sound
    reproduction - headphones vs. loudspeaker</li>

    <li >Live lecture and Q&amp;A:
    Agnieska Roginska on space and fidelity</li>
  </ul>

  <p >Reflection and
  documentation</p>

  <ul >
    <li >What went right with your
    remix?</li>

    <li >What went wrong?</li>

    <li >What still doesn&rsquo;t make
    sense?</li>
  </ul>

  <p >Where to from here?</p>

  <ul >
    <li >Free software: Audacity,
    Garageband</li>

    <li >Non-free software: Pro Tools,
    Logic, Ableton, Reason</li>

    <li >Basics of audio recording:
    mics, preamps and interfaces</li>

    <li >Learning resources</li>
  </ul>

  <h2>Badges</h2>

  <p >Golden Ears</p>

  <ul >
    <li >Basic: differentiating between
    44.1 and 128Kmp3</li>

    <li >Advanced: why does one sound
    better than another? what is masked vs. what is
    heard?</li>
  </ul>

  <p >Mix Master</p>

  <ul >
    <li >Basic: recreate example
    mix</li>

    <li >Advanced: create and post your
    own mix</li>
  </ul>

  <p >Remix Master</p>

  <ul >
    <li >Basic: alter balance, panning,
    effects</li>

    <li >Advanced: change musical
    content and/or form</li>
  </ul>

  <p >Connoisseur</p>

  <ul >
    <li >Basic: write critiques/comments
    on three other mixes</li>

    <li >Advanced: write
    critiques/comments on ten other mixes</li>
  </ul>

        </div>
      </div>
    </div>

{% endblock %}
