{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <div class="row">
        <div class="span12 faq">


  <h2>Module One: Critical listening</h2>

  <p>Choose a song to analyze</p>

  <ul>
    <li>Identify instruments and
    timbres</li>

    <li>Describe spatial environment vs
    stereo image</li>

    <li>Create song timeline:
    significant entrances and exits, song structure</li>

    <li>Repetition: listen to song in
    Infinite Jukebox and Girl Talk In A Box</li>

    <li>Live lecture and Q&amp;A: On songcraft</li>
  </ul>

  <h2 >Module Two: Mixing in the
  DAW</h2>

  <p >Reverse-engineering a multitrack
  in MusicDelta and Soundation</p>

  <ul >
    <li >Listen to mixed
    track</li>

    <li >Solo each stem</li>

    <li >Mute each stem</li>

    <li >Pan each stem</li>

    <li >Effects: reverb,
    filter.</li>

    <li >Sidebar on Britney Spears and
    guiro</li>

    <li >Convergent mixing
    exercise</li>

    <li >Create your own mix</li>

    <li >Live lecture and Q&amp;A: On production and mixing</li>
  </ul>

  <h2 >Module Three: Editing Audio in
  the DAW</h2>

  <p >Create blank Soundation
  session</p>

  <ul >
    <li >Dragging and dropping
    clips</li>

    <li >Copy and paste</li>

    <li >Looping</li>

    <li >Sample-based production,
    hip-hop and dance music</li>

    <li >Copyright and
    ownership</li>
  </ul>

  <p ></p>

  <h2 >Module Four: MIDI in the
  DAW</h2>

  <p ></p>

  <p >What is MIDI?</p>

  <ul >
    <li >Compare and contrast audio and
    MIDI</li>

    <li >Compare and contrast music
    notation and MIDI</li>

    <li >The piano roll: working with MIDI</li>

  </ul>


  <p >Editing MIDI</p>

  <ul >
    <li >Drawing and deleting
    notes</li>

    <li >Copy and paste within the piano
    roll</li>

    <li >Copy and paste in the
    multitrack view</li>

    <li >Remix </li>

    <li >Live lecture and Q&amp;A: Computer music, MIDI and beyond</li>
  </ul>


  <h2 >Module Five:
  Remixing</h2>

  <p >Remixing in the DAW</p>

  <ul >
    <li >Take given multitrack (audio
    and MIDI) and create a new version</li>

    <li >Share on SoundCloud</li>

    <li >Peer critique</li>

    <li >Iterate and refine the mix,
    re-upload</li>

    <li >Vote on best mixes</li>

    <li >Live lecture and Q&amp;A:
    [famous person who provided us the multitrack]</li>
  </ul>

  <h2>Module Six: Putting It All
  Together</h2>

  <p >Bouncing and sharing your mix:
  audio formats and fidelity</p>

  <ul >
    <li >Frequency response and sound
    reproduction; headphones vs speakers</li>

    <li >Mono vs stereo</li>

    <li >Sampling rate and bit depth;
    the CD red book standard</li>

    <li >Data compression: Why is it
    necessary? MP3 (128K vs 320K), AAC, streaming</li>

    <li >Frequency response &amp; sound
    reproduction - headphones vs. loudspeaker</li>

    <li >Live lecture and Q&amp;A: On space and fidelity</li>
  </ul>

  <p >Reflection and
  documentation</p>

  <ul >
    <li >What went right with your
    remix?</li>

    <li >What went wrong?</li>

    <li >What still doesn&rsquo;t make
    sense?</li>
  </ul>

  <p >Where to from here?</p>

  <ul >
    <li >Free software: Audacity,
    Garageband</li>

    <li >Non-free software: Pro Tools,
    Logic, Ableton, Reason</li>

    <li >Basics of audio recording:
    mics, preamps and interfaces</li>

    <li >Learning resources</li>
  </ul>

  <h2>Badges</h2>

  <p ><a href="http://badges.p2pu.org/en/badge/view/209/">Golden Ears</a></p>

  <ul >
    <li >You can hear differences among various audio formats, 
    identify and describe musical structures within recordings you love, 
    and accurately analyze and describe the sonic qualities of various sounds 
    within multiple recordings. Using a song of your choice, you will submit 
    the following for peer review: 1) a musical structure graph, 2) a sonic 
    quality graph, and 3) a written description of how you hear your chosen piece</li>
  </ul>

  <p ><a href="http://badges.p2pu.org/en/badge/view/210/">Mix Master</a></p>

  <ul >
    <li >You can creatively edit and manipulate a multitrack audio recording, adjusting track balance and panning. Your original mix makes expressive use of common sonic effects, such as reverb, delay, and equalization. You've shared your original mix with the world on SoundCloud.com.</li>
  </ul>

  <p ><a href="http://badges.p2pu.org/en/badge/view/211/">Remix Master</a></p>

  <ul >
    <li >You can create an original remix using both audio and MIDI techniques. You've mastered basic MIDI editing and sample transformation. You've shared your piece with the world on SoundCloud.com.</li>
  </ul>

  <p ><a href="http://badges.p2pu.org/en/badge/view/212/">Masterclass</a></p>

  <ul >
    <li >You have actively contributed to the musical learning of others through: 1) providing feedback on multiple projects as an online mentor, 2) contributed links to external resources, and 3) shared a deep analysis of one, original track, as well as your personal process of creation.</li>
  </ul>

        </div>
      </div>
    </div>

{% endblock %}
