{% extends 'base.html' %}

{% block body %}

	<div id="step1" class="container">
	<div class="row">
		<div class="span8 offset2 faq">
			<h1>How it works.</h1>

			<h2>How do I sign up?</h2>

			<p>Visit our <a href="http://playwithyourmusic.org">PWYM landing page and sign up</a> any time. If you like,
			   you are free to <a href="http://community.playwithyourmusic.org" target="_blank">join the PWYM
			                                                                                    Community</a> so we can
			   send you regular updates about courses and
			   activities. Once there, you can just follow along with the announcements we will be posting in the <a
						href="http://community.playwithyourmusic.org" target="_blank"> discussion forum</a>.
			   The whole idea of sign-up is so 2013. This is not a really a course, it's a ... community.</p>

			<h2>How different will PWYM 2 be from PWYM 1</h2>

			<p>Many of the core projects and experiences will be the same, however, we will be focusing on creative
			   music and audio production skills using the music of Peter Gabriel.
			   In addition to assisting you in analyzing and making your own music, we'll augment the class with
			   interviews from musicians who've performed and collaborated with Peter in the past.
			   So we believe experienced PWYM participants will have a chance to make new connections and go deeper--and
			   help others along the way.</p>

			<p>In the future, we also plan on adding additional artist material and learning modules, in partnership
			   with recording artists, chamber musicians and composers and film scorers. We have grand plans for the
			   content within the PWYM Community.
			   We also want to hear from you about what content you'd like to see us curate and create for you. Share
			   your ideas in the <a href="http://community.playwithyourmusic.org/">PWYM Community forum</a>.</p>

			<h2>Why are you shifting to a new discussion platform?</h2>

			<p>Our G+ communities were great, but the main thing we're hoping to gain is to have more continuity of
			   discussions. Key questions and discussions in last year's G+ community
			   became buried, so we're hoping they will be more visible when entering the <a
						href="http://community.playwithyourmusic.org">forum</a>. Also, we're
			   hoping to reduce advertising and spam. (We realize there are many positive aspects to G+ too, so it will
			   be an experiment.)</p>

			<h2>What time are the live seminars? What if that time doesn't work for me?</h2>

			<p>Taking into account what we learned in PWYM 1.0, we are approaching the live interview sessions
			   differently from now on. When we do live events, we will host the conversations on
			   the <a href="http://unhangout.media.mit.edu" target="_blank">Unhangout</a> platform. We will send
			   reminders by email at least a week in advance and also
			   post announcements in the <a href="http://community.playwithyourmusic.org" target="_blank">discussion
			                                                                                              forum</a>. You
			   can watch and discuss live,
			   or watch the recording at a more convenient time. The only downside is that you would miss the live
			   discussion. We'll ask you to post questions before the live events so that we draw upon those when
			   interviewing our guests.

			<h2>I have a question about how this works - Where can I get help?</h2>

			<p>The best place is our <a href="http://community.playwithyourmusic.org" target="_blank"> discussion
			                                                                                           forum</a>. The
			   forum
			   will be the central place for conversations with other participants, to share your work with others, and
			   give feedback.</p>

			<h2>How much time will the course take?</h2>

			<p>We don't require a particular commitment - it really depends on what you want to get out of the course.
			   If you want to
			   fully participate, you should plan on 4-8 hours/week. Readings and reflections could take anywhere
			   from 1-4 (or even more) hours. You might end up discussing some of your projects, analyses, and creative
			   work with other learners.
			   And the activities are relatively open ended as well. It's possible to build a quick mix of a project in
			   30 minutes, or spend a full day refining it. Also, there is no requirement to
			   complete <b>everything</b>.

			<h2>Will I get some kind of certification?</h2>

			<p>No. There will be no certification. But you’ll learn a lot, and hopefully have a great time working with
			   other interesting people.</p>

			<h2>I missed the live streaming of an interview: Is there an archive?</h2>

			<p>No worries! We will add links to all the videos to this site, and we will post announcements in
			   the <a href="http://community.playwithyourmusic.org" target="_blank">Discussion Forum</a>.</p>

			<h2>Your question isn't answered here? Post a message for us on the <a
					href="http://community.playwithyourmusic.org/category/about-this-forum">PWYM Community forum</a>.
			</h2>
			<br>
		</div>
	</div>

{% endblock %}
