{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <h1>Frequently Asked Questions</h1>
      <div class="row">
        <div class="span12 faq">
          <h2>What is a "MOOC"?</h2>
 
            <p>A massive open online course.  They’re the latest rage in online learning.  OK, they’ve actually been around a while in a variety of different forms, the first of which was a free-for-all approach with little central control where learners co-create a learning experience (“cMOOCs”), and the more recent variety, which are much more like traditional online classes (“xMOOCs”).  You can read more about them at <a href="http://en.wikipedia.org/wiki/Massive_open_online_course">http://en.wikipedia.org/wiki/Massive_open_online_course</a></p>
 
            <p>In both cases, lots and lots of people get together to learn online.  These courses are scalable because of peer learning environments that allow the learners to support each other, and because of assessment engines that automate feedback.  Typically, participants number on the thousands, though some recent examples have included more than 100,000 initial participants.</p>
 
            <h2>OK, what is a "mechanical" MOOC?</h2>
 
            <p>Well, with previous MOOCs, there’s still been a professor who offers the course.  Our course has no instructor.  Our theory is that online learning tools have become robust enough with a light amount of coordination, learners can move through them together and support each other’s learning without a central authority</p>
 
            <p>We are establishing a mailing list that will coordinate learner activities across a selection of online tools, letting you know when class activities are taking place and where to go to participate.  </p>
 
            <h2>Why would you create a Mechanical MOOC?</h2>
 
            <p>We have a theory about MOOCs as they exist today.  The first version of MOOCs--the cMOOCs--we think, are a little too unstructured for many learners, casting them into an unbounded environment of blogs, wikis, RSS feeds and other web technologies that are more than many learners can or want to manage.</p>
 
            <p>On the other hand, the new strain of MOOCs--the xMOOCs--offered out of major universities and their spinoffs seem to be all competing to create the killer platform, and we have doubts that this can—or should--be done successfully.  Usually, when sites try to do it all, they end up doing not much of it very well.</p>
 
            <p>The lesson of open education in the past 10 years seems to be that the components of education—content, community and assessment—can be unbundled, and that sites can focus on providing one aspect of education very well.  So we are combining three “best-of-breed” sites to create an offering that we think is as good or better than other approaches.</p>
 
            <h2>Is this course competing with the Stanford’s and MIT’s of the world?</h2>
 
            <p>No, this is an experiment to test our theory about the current MOOCs.  Whatever comes out of it will be a very different learning experience than either the cMOOCs or xMOOCs.  It will hopefully be more structured that the former and less structured than the latter.  </p>
 
            <p>It will certainly not be a neat and polished environment where all the pieces are custom-created to fit together neatly.  But on the other hand, we hope to bring together the best of what’s already out there without having to build anything from scratch--a significant cost advantage, and a model that will empower many more open education projects to experiment with MOOC-like offerings.</p>
 
            <h2>What course are you offering?</h2>
 
            <p>The first course will be called “A gentle introduction to Python” and will be, well, a gentle introduction to Python programming.</p>
 
            <h2>Who is offering the class?</h2>
 
            <p>A group of leading open education sites are involved, including Peer 2 Peer University, OpenStudy, Codecademy, and MIT OpenCourseWare.  Peer 2 Peer University is managing the mailing list.</p>
 
            <h2>MIT is participating.  Is this an MITx offering? A competing program?</h2>
 
            <p>Neither.  MIT OpenCourseWare supports all experiments involving their content that are consistent with the mission and spirit of the program, and this is one of them.  We all have a lot to learn about how open learning takes place, and the more data points the better. This MOOC will not offer an MITx certificate.</p>
 
            <h2>How big will this Mechanical MOOC be?</h2>
 
            <p>We don’t know, but we’re confident it can be very big.  These sites already serve thousands and in some cases millions of users, so we can handle whatever may come.  But we’re ok if it’s small also.  Our concern is less about getting huge numbers in the front end, and more about delivering a good learning experience for everyone who participates.</p>
 
            <h2>How can I get to know others who are studying?</h2>
 
            <p>OpenStudy will provide a forum where all learners can interact in one big study group, so that’s a great place to start.  We’re also offering the opportunity for learners to be assigned to groups of ten, so that you can work more closely with a more limited cohort.</p>
 
            <h2>Where do I sign up?</h2>
 
            <p>Sign up  for the mailing list at <a href="/">http://mechanicalmooc.org/</a>.   You’ll also have to register eventually for the OpenStudy site and Codecademy, but this can be done as the course progresses, so no worries.</p>
 
            <h2>Do I get a certificate?</h2>
 
            <p>Nope, but both Codecademy offers badges and OpenStudy has SmartScore, so you’ll get recognition of your work there.  One of our long-term goals for Mechanical MOOC is to figure out how recognition works in this approach.  NOTE: This MOOC will not offer an MITx certificate.</p>
 
            <h2>What good are the badges?</h2>
 
            <p>They are a shorthand for sharing your informal educational achievements on the Web, and a lot of smart people, including the good folks at <a href="https://wiki.mozilla.org/Badges">Mozilla</a>, are working hard to figure out how to make them more meaningful.</p>
 
            <h2>Can I use other sites and services with this course?</h2>
 
            <p>Absolutely.  We encourage participants to bring in other tools, self-organize, and share what they are doing with the rest of the community.  We’re tyring to learn here as well.</p>
        </div>
      </div>
    </div>

{% endblock %}
