{% extends 'base.html' %}

{% block body %}

    <div id="step1" class="container">
      <h1>How it works.</h1>
      <div class="row">
        <div class="span12 faq">
          <h2>Email lists.</h2>
          <p>On November 1, you'll receive an email from the "Mister Mix" the Maestro of this Mechanical MOOC. When that email lands in your inbox, it means you've been placed in your cohort of 30-40 folks, and you can say "Hi" to all the folks on your team by clicking "reply."</p>
         
          <h2>Weekly assignments.</h2>
          <p>Each week, you'll receive a series of readings and an activity prompting you to play with music on the web. You'll work through the materials over the course of the week, and share your projects with your cohort.</p>
         
          <h2>Support if you're lost, stuck or curious.</h2>
          <p>Play With Your Music also has a larger Google+ community for you to ask questions, find additional resources, or connect with other folks outside your cohort.</p>
       </div>
      </div>
    </div>

{% endblock %}
