<html>
<head></head>

<body>

<p>Greetings Moocster Team {{ group_number }},</p>

<p>An update from the flight deck. Here's a snapshot of your team's activity.</p>

<img src="{{ group_stats_url }}"/>

<p>And here's a sense of engagement in the wider MOOC Community:</p>

<img src="{{ all_stats_url }}"/>

<p>We suggest that each Friday, you take some time to reach out to your group. A few ideas:</p>
<ul>
  <li>Where are you at in the course material? Share your progress.</li>
  <li>Ask a question that you've been puzzling over.</li>
  <li>Share a success you've recently had in your learning experience.</li>
  <li>On a scale of 1-10, how are you feeling this week.</li>
</ul>

<p>Carry forth, MOOCsters,</p>

<p>-MMOOC</p>

</body>
</html>
