<html>
<head></head>

<body>

<h1>Greetings Moocster Team {{ group_number }},</h1>

<p>We have two pieces of news to report.</p>

<h2>Item #1: Your Friday Weekly Snapshot.</h2>

<p>Your team sent {{ group_stats.messages }} message{{ groups_stats.messages|pluralize }} this week.</p>

<p>Here's a sense of activity in the learning community as a whole:</p>

<img src="{{ all_stats_url }}"/>

<h2>Item #2:  Connect with your Team.</h2>

<p>Each Friday we'll remind you to use your Team as a layer of support as you move through the Mechanical MOOC. A few ideas to get your group going:</p>
<ul>
  <li>Where are you at in the course material? Share your progress.</li>
  <li>Ask a question that you've been puzzling over.</li>
  <li>Share a success you've recently had in your learning experience.</li>
  <li>On a scale of 1-10, how are you feeling this week.</li>
</ul>

<p>Carry forth, MOOCsters,</p>

<p>-MMOOC</p>

</body>
</html>
