{% extends 'base.html' %}

{% block body %}

    <div id="step1">
        <div class="jumbotron">
            <div class="head-text container">
                <div class="pre-title">The Mechanical MOOC Presents...</div>
                <h1 class="title">A Gentle Introduction to Music</h1>
            </div>
        </div>
        <div class="container">
            <div class="description clearfix">
                <form id="emailForm" class="text-center" accept-charset="UTF-8">
                    <div class="">
                        <h3><i class="icon-calendar"></i> Next Class begins Fall 2013</h3>
                        <h4>
                            <small>but you can sign up now.</small>
                        </h4>
                    </div>

                    <div class="control-group">
                        <div class="input-append">
                            <input id="email" name="email" class="input" type="text" placeholder="you@example.com">
                            <button id="join" type="submit" class="btn btn-primary">Join</button>
                        </div>
                    </div>
                </form>
                <hr>
                <ul class="unstyled">
                    <li>
                        <h2 class="pull-left"><i class="icon-gift"></i> </h2>
                        <div class="description-text">
                            <h2>Free &amp; Open.</h2>
                            <p>
                                A Gentle Introduction to Python is 100% free, just like all OpenCourseWare.
                                Anyone can join, and you're welcome to share your work.
                            </p>
                        </div>
                    </li>
                    <li>
                        <h2 class="pull-left"><i class="icon-bolt"></i> </h2>
                        <div class="description-text">
                            <h2>Learning Powerhouse.</h2>

                            <p>
                                Pick up Python from leading innovators in online learning. MIT's chops.
                                Codecademy's exercises. OpenStudy's study groups. P2PU's community. Need we say more?
                            </p>
                        </div>
                    </li>
                    <li>
                        <h2 class="pull-left"><i class="icon-calendar"></i> </h2>
                        <div class="description-text">
                            <h2>Weekly Lessons.</h2>
                            <p>
                                Make friends with some smarties, and start programming from Week 1.
                                Open for signup now, course starts Fall 2013.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!------------step 2-------------------------------------->
    <div id="step2" class="container hide">
    <div class="row">
        <div class="span8 offset2">
            <h3>You're almost done!</h3>

            <div class="progress progress-step">
                <div class="step-full"><i class="icon-off"></i></div>
                <div class="step-full" style="left:50%"><i class=" icon-info-sign"></i></div>
                <div class="step-empty" style="left:100%"><i class="icon-ok"></i></div>
                <div class="bar" style="width: 50%;"></div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="span8 offset2">
    <form id="infoForm" class="form-horizontal" accept-charset="UTF-8" action="{% url 'signup' %}" method="POST">
          {% csrf_token %}
          <input id="hiddenEmailField" type="hidden" name="email"></hidden>
          <fieldset>
            <div class="control-group">
              <label class="control-label"><i class="icon-group"></i> Group Work</label>
              <div class="controls">
                <p class="help-block">We'll match you up with a band of likeminded folks. You'll get extra support, help others when they get stuck, and make smart friends.</p>
                <label class="radio">
                  <input type="radio" name="groupRadios" id="groupRadios1" value="true" checked>
                  Match me up <em>with other folks</em>.
                </label>
                <label class="radio">
                  <input type="radio" name="groupRadios" id="groupRadios2" value="false">
                  I'm going to do this course <em>on my own</em>. Thanks though!
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"><i class="icon-book"></i> Learning Style</label>
              <div class="controls">
                <p class="help-block">When learning something new, what's your first instinct?</p>
                <label class="radio">
                  <input type="radio" name="styleRadios" id="styleRadios1" value="try">
                  I try it out.
                </label>
                <label class="radio">
                  <input type="radio" name="styleRadios" id="styleRadios2" value="think">
                  I think it through.
                </label>
                <label class="radio">
                  <input type="radio" name="styleRadios" id="styleRadios3" value="discuss">
                  I discuss it with someone else.
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"><i class="icon-cogs"></i> Your Experience</label>
              <div class="controls">
                <label class="radio">
                  <input type="radio" name="expertiseRadios" id="expertiseRadios1" value="try">
                  I've never written a program before.
                </label>
                <label class="radio">
                  <input type="radio" name="expertiseRadios" id="expertiseRadios2" value="think">
                  I've written "Hello World" or a simple app.
                </label>
                <label class="radio">
                  <input type="radio" name="expertiseRadios" id="expertiseRadios3" value="discuss">
                  I've built a sophisticated app. It was pretty sweet.
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="timezone"><i class="icon-time"></i> Timezone</label>
              <div class="controls">
                <select name="timezone" id="timezone">
                  <option value="Etc/GMT+12">-12:00 Etc/GMT+12</option>
                  <option value="Pacific/Pago_Pago">-11:00 Pacific/Pago_Pago</option>
                  <option value="America/Adak">-10:00 America/Adak</option>
                  <option value="Pacific/Honolulu">-10:00 Pacific/Honolulu</option>
                  <option value="Pacific/Marquesas">-10:30 Pacific/Marquesas</option>
                  <option value="Pacific/Gambier">-09:00 Pacific/Gambier</option>
                  <option value="America/Anchorage">-09:00 America/Anchorage</option>
                  <option value="America/Los_Angeles">-08:00 America/Los_Angeles</option>
                  <option value="Pacific/Pitcairn">-08:00 Pacific/Pitcairn</option>
                  <option value="America/Phoenix">-07:00 America/Phoenix</option>
                  <option value="America/Denver">-07:00 America/Denver</option>
                  <option value="America/Guatemala">-06:00 America/Guatemala</option>
                  <option value="America/Chicago">-06:00 America/Chicago</option>
                  <option value="Pacific/Easter">-06:00 Pacific/Easter</option>
                  <option value="America/Bogota">-05:00 America/Bogota</option>
                  <option value="America/New_York">-05:00 America/New_York</option>
                  <option value="America/Caracas">-05:30 America/Caracas</option>
                  <option value="America/Halifax">-04:00 America/Halifax</option>
                  <option value="America/Santo_Domingo">-04:00 America/Santo_Domingo</option>
                  <option value="America/Asuncion">-04:00 America/Asuncion</option>
                  <option value="America/St_Johns">-04:30 America/St_Johns</option>
                  <option value="America/Godthab">-03:00 America/Godthab</option>
                  <option value="America/Argentina/Buenos_Aires">-03:00 America/Argentina/Buenos_Aires</option>
                  <option value="America/Montevideo">-03:00 America/Montevideo</option>
                  <option value="America/Noronha">-02:00 America/Noronha</option>
                  <option value="Etc/GMT+2">-02:00 Etc/GMT+2</option>
                  <option value="Atlantic/Azores">-01:00 Atlantic/Azores</option>
                  <option value="Atlantic/Cape_Verde">-01:00 Atlantic/Cape_Verde</option>
                  <option value="Etc/UTC">00:00 Etc/UTC</option>
                  <option value="Europe/London">00:00 Europe/London</option>
                  <option value="Europe/Berlin">+01:00 Europe/Berlin</option>
                  <option value="Africa/Lagos">+01:00 Africa/Lagos</option>
                  <option value="Africa/Windhoek">+01:00 Africa/Windhoek</option>
                  <option value="Asia/Beirut">+02:00 Asia/Beirut</option>
                  <option value="Africa/Johannesburg">+02:00 Africa/Johannesburg</option>
                  <option value="Europe/Moscow">+03:00 Europe/Moscow</option>
                  <option value="Asia/Baghdad">+03:00 Asia/Baghdad</option>
                  <option value="Asia/Tehran">+03:30 Asia/Tehran</option>
                  <option value="Asia/Dubai">+04:00 Asia/Dubai</option>
                  <option value="Asia/Yerevan">+04:00 Asia/Yerevan</option>
                  <option value="Asia/Kabul">+04:30 Asia/Kabul</option>
                  <option value="Asia/Yekaterinburg">+05:00 Asia/Yekaterinburg</option>
                  <option value="Asia/Karachi">+05:00 Asia/Karachi</option>
                  <option value="Asia/Kolkata">+05:30 Asia/Kolkata</option>
                  <option value="Asia/Kathmandu">+05:45 Asia/Kathmandu</option>
                  <option value="Asia/Dhaka">+06:00 Asia/Dhaka</option>
                  <option value="Asia/Omsk">+06:00 Asia/Omsk</option>
                  <option value="Asia/Rangoon">+06:30 Asia/Rangoon</option>
                  <option value="Asia/Krasnoyarsk">+07:00 Asia/Krasnoyarsk</option>
                  <option value="Asia/Jakarta">+07:00 Asia/Jakarta</option>
                  <option value="Asia/Shanghai">+08:00 Asia/Shanghai</option>
                  <option value="Asia/Irkutsk">+08:00 Asia/Irkutsk</option>
                  <option value="Australia/Eucla">+08:45 Australia/Eucla</option>
                  <option value="Australia/Eucla">+08:45 Australia/Eucla</option>
                  <option value="Asia/Yakutsk">+09:00 Asia/Yakutsk</option>
                  <option value="Asia/Tokyo">+09:00 Asia/Tokyo</option>
                  <option value="Australia/Darwin">+09:30 Australia/Darwin</option>
                  <option value="Australia/Adelaide">+09:30 Australia/Adelaide</option>
                  <option value="Australia/Brisbane">+10:00 Australia/Brisbane</option>
                  <option value="Asia/Vladivostok">+10:00 Asia/Vladivostok</option>
                  <option value="Australia/Sydney">+10:00 Australia/Sydney</option>
                  <option value="Australia/Lord_Howe">+10:30 Australia/Lord_Howe</option>
                  <option value="Asia/Kamchatka">+11:00 Asia/Kamchatka</option>
                  <option value="Pacific/Noumea">+11:00 Pacific/Noumea</option>
                  <option value="Pacific/Norfolk">+11:30 Pacific/Norfolk</option>
                  <option value="Pacific/Auckland">+12:00 Pacific/Auckland</option>
                  <option value="Pacific/Tarawa">+12:00 Pacific/Tarawa</option>
                  <option value="Pacific/Chatham">+12:45 Pacific/Chatham</option>
                  <option value="Pacific/Tongatapu">+13:00 Pacific/Tongatapu</option>
                  <option value="Pacific/Apia">+13:00 Pacific/Apia</option>
                  <option value="Pacific/Kiritimati">+14:00 Pacific/Kiritimati</option>
                </select>
                <p id="timezoneHelp" class="help-block"></p>
              </div>
            </div>
            <div class="form-actions">
              <button id="finish" type="submit" class="btn btn-success"><i class="icon-ok"></i> Finish</button>
            </div>
          </fieldset>
        </form>
    </div>
    </div>
    </div>

{% endblock %}

{% block js %}

    <script src="/static/js/jstz/jstz.min.js"></script>
    <script>
        MMOOC.Splash.signup();
    </script>

{% endblock %}
