{% extends 'base.html' %}

{% block body %}
  <div id="step3" class="container">
    <div class="row">
      <div class="span8 offset2">
        <iframe width="420" height="315" src="https://www.youtube.com/watch?v=PBAl9cchQac?rel=0" frameborder="0" allowfullscreen></iframe>
        <br />
        <h1>You've hit the <em>Big Time!</em></h1>
        <h2>We'll shoot you an email, real soon. Like now-ish.</h2>
        <br />
        <p>Don't keep it to yourself, invite your friends to join <strong>Play With Your Music</strong> with you.</p>
        <ul class="social unstyled">
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://playwithyourmusic.org"
                   data-text="Join me in &quot;Play With Your Music.&quot;" data-via="pwymusic" data-hashtags="pwym">
                    Tweet
                </a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
                        if(!d.getElementById(id)){js=d.createElement(s);
                            js.id=id;js.src="//platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                </script>
            </li>
            <li>
                <div class="fb-like" data-href="http://www.playwithyourmusic.org" data-width="107" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
                <div id="fb-root"></div>
            </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{% endblock %}
