{% extends 'base.html' %}

{% load i18n %}


{% block css %}
  <!-- Le styles -->
  <link href="{{STATIC_URL}}css/jquery.tagit.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <div id="step1">
  <div class="jumbotron">
        <div class="container">
            <h1 class="title">Mechanical Mooc Admin - Send Email</h1>
        </div>
    </div>


    <div class="container">
      <div class="description clearfix">
        <form id="emailForm" class="form well" action="" method="post">
          {% csrf_token %}
          <label>
            Tags<br />
            <small>Available tags include: sequence_*, course, intro, week_*, encourage, assignment</small>
          </label>
          <input id="tags" name="tags" type="text" {% if email.tags %}value="{{ email.tags }}"{% endif %}/>
          <label>{% trans 'To' %}</label>
          <select id="id_to" name="to">
            {% for sequence in sequences %}
              <option value="groups-{{sequence.id}}">
                Sequence {{sequence.id}} groups
              </option>
              <option value="individuals-{{sequence.id}}">
                Sequence {{sequence.id}} individuals
              </option>
            {% endfor %}
          </select>
          <label>
            Subject
          </label>
          <input id="subject" name="subject" class="full-width" type="text" placeholder="Subject..." {% if email.subject %}value="{{ email.subject }}"{% endif %}/>
         
          <label>
            Message Body
          </label>
          <textarea id="body_text" name="body_text" class="full-width"
            type="text" rows="20" placeholder="Hello MooCers...">{% if email.html_body %}{{ email.html_body }}{% endif %}</textarea>
         
          <div class="form-actions">
          <!-- This works better in the newer bootstrap but it breaks too much other stuff -->
            <div class="clearfix">
                <label>Send a test email to</label>
                <input id="test_email" class="span3" name="test_email" type="email"/>
                <button id="send_preview" class="btn btn-success btn-mini">
                    <i class="icon-envelope-alt"></i> Send Preview
                </button>
                <span id="id_test_email_success" class="alert alert-success hidden">
                  {% trans 'Test email sent.' %}
                  <i class="icon-smile"></i>
                </span>
                <span id="id_test_email_failure" class="alert alert-error hidden">
                  {% trans 'Could not send test email.' %}
                  <i class="icon-frown"></i>
                </span>
            </div>
            <br/>
            <button id="finish" type="submit" class="btn btn-primary">Save email</button>
            <a class="btn btn-large" href={% url mail_schedule %}>Cancel</a>
          </div>              
        </form>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block js %}

  <script src="{{STATIC_URL}}js/tag-it.js"></script>
  <script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script>
  <script src="{{STATIC_URL}}ckeditor/styles.js"></script>
  <script src="{{STATIC_URL}}ckeditor/config.js"></script>

  
  <script>
    $(document).ready(function () {

      $('#id_to').val("{{email.audience}}-{{email.sequence}}");

      CKEDITOR.replace("body_text");

      $("#tags").tagit({
        showAutocompleteOnFocus: true,
        availableTags: ["intro", "course", "sequence_1", "week_*", "sequence_2", "sequence_3", "assignment", "encourage"]
      });

    });

    $('#send_preview').live('click', function(){
      for ( instance in CKEDITOR.instances ){
        CKEDITOR.instances[instance].updateElement();
      }
      $("#send_preview").addClass("disabled").attr("disabled", "disabled");
      $.ajax({
        type: "POST",
        url: "{% url mail_send_preview %}", 
        data: $("#emailForm").serialize(),
        success: function() {
            $('#id_test_email_failure').addClass('hidden')
            $('#id_test_email_success').removeClass('hidden')
        },
        error: function() {
            $('#id_test_email_success').addClass('hidden')
            $('#id_test_email_failure').removeClass('hidden')
        },
        complete: function() {
            $("#send_preview").removeClass("disabled").removeAttr("disabled");
        }
      });
      return false;
    });

  </script>

{% endblock %}
