{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/timepicker/jquery.timepicker.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/timepicker/lib/base.css" />
{% endblock %}


{% block body %}

  <div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Subject</th>
          <th>Text</th>
          <th>Send at (UTC)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for mail in schedule %}
          <tr>          
            <td></td>
            <td>
              {{ mail.subject }}
            </td>
            <td>
              {{ mail.text_body|truncatewords:10 }}
            </td>
            <td>
              {% if mail.date_sent %}
                sent at {{mail.date_sent}}
              {% else %}
              <form action="{% url mail_schedule_email mail.id %}">
                {% csrf_token %}
                <input id="id_date_{{ mail.id }}" name="scheduled_date" type="datetime" {% if mail.date_scheduled %}value="{{mail.date_scheduled.date.isoformat}}"{% endif %}>
                <input class="timepicker" id="id_time_{{mail.id}}" name="scheduled_time" type="text" {% if mail.date_scheduled %}value="{{mail.date_scheduled.time.isoformat}}"{% endif %}>
              </form>
              {% endif %}
            </td>
            <td>
              {% if not mail.date_sent %}
                <a class="btn" href="{% url mail_edit mail.id %}"><i class="icon-edit"></i> edit email</a>
                <a class="btn" href="{% url mail_delete mail.id %}"><i class="icon-trash"></i> delete email</a>
                <a class="btn" href="{% url mail_send mail.id %}"><i class="icon-envelope"></i> send email to all groups</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn" href="{% url mail_compose %}">Create new email</a>

{% endblock %}

{% block js %}

  <script type="text/javascript" src="{{STATIC_URL}}/timepicker/jquery.timepicker.js"></script>
  <!--script type="text/javascript" src="{{STATIC_URL}}/timepicker/lib/base.js"></script-->

  <script type="text/javascript">
    $(document).ready(function () {
      $('input[type=datetime]').datepicker({
          onSelect: function(date, obj) {
              $.post($(this).closest('form').attr('action'), $(this).closest('form').serialize());
          },
          dateFormat: "yy-mm-dd",
      });
      $('.timepicker').timepicker({
            'step': 60,
            'timeFormat': 'H:i'
      });
      $('.timepicker').on('changeTime', function() {
            $.post($(this).closest('form').attr('action'), $(this).closest('form').serialize());
      });
    });
  </script>
{% endblock %}
